<?php $result = $data; ?>
{template "search","header"}
<div id="content" class="main">
   <!----left begin--->
    <div id="bd_leftg">
    
    {template "content","left"}
   
    </div>
    <!----left end--->
    
     <div id="bd_rightg">
        <div class="rightg_content">
        {template "content","position"}
       		 <div class="content2">
                 <div id="content" class="pd">
                  {loop $result $i $r}
                 <dl class="list">
                 <dt>  {if $r['thumb']}<a href="{$r[url]}"><img src="{thumb($r[thumb],110,90)}" width="110" height="90" /></a>{/if}</dt>
                  <dd>
                  <h3><a href="{$r[url]}">{$r[title]}</a>{if $r['posids']}<img src="{IMG_PATH}icon/small_elite.gif">{/if}</h3>
                   <div class="description">{str_cut($r[description],'480','...')}</div>
                    <div class="adds fl">{L('create_time')}{format::date($r[inputtime], 1)}</div><div class="more"><a href="{$r[url]}" title="{$r[catname]}">>>{L('more')}</a></div>
                  </dd>
                     </dl>
                {/loop}
                {if empty($result)}{L('no_result')}{/if}
            
                <div id="pages" class="text-c mg_t20">{$pages}</div>     
                </div>
            </div>
        </div>
   	  </div>
  <!----rihgt end--->

    </div>
 </div>
 
<script type="text/javascript" src="{JS_PATH}search_history.js"></script>
{if $setting['suggestenable']}
<script type="text/javascript" src="{JS_PATH}jquery.suggest.js"></script>
<script type="text/javascript" src="{JS_PATH}search_suggest.js"></script>
{/if}
{template "content","footer"}


